body {
    padding: 0;
    margin: 0;
    background: #e9fbff;
    max-width: 100%;
    overflow: hidden;
}

#welcomeText {
  font-size: 5em;
  color: white;
  text-shadow: 0px 0px 20px #000000;
  margin: 0;
  padding: 0;
  text-align: center;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translateX(-50%) translateY(-50%); 
  animation: fadeOut 2s 1 1s both;
}

#loginText {
  font-size: 4.5em;
  font-family: Arial, Helvetica, sans-serif;
  color: white;
  text-shadow: 0px 0px 20px #000000;
  margin: 0;
  padding: 0;
  text-align: center;
  animation: fadeIn 2s 1 3s both;
}

@keyframes fadeIn {
  0% {opacity: 0;}
  100% {opacity: 1;}
}

.fadeIn {
  animation: fadeIn;
}

@keyframes fadeOut {
  0% {opacity: 1;}
  100% {opacity: 0;}
}

.fadeOut {
  animation: fadeOut;
}

.logInScreenButton {
  border-radius: 30px;
  width: 350px;
  background-color: #ff3e3b;
  border: none;
  color: white;
  padding: 35px 35px;
  font-size: 40px;
  text-align: center;
  list-style-type: none;
  animation: fadeIn 2s 1 3s both;
  cursor:'pointer';
}

.logInScreenButton a {
  text-decoration: none;
  color: white;
}

.logInScreenButton:hover {
  background-color: #dd3331;
}

#logIn {
  display:flex;
  justify-content: center;
  align-items: center;
  padding: 125px 0px;
  animation: fadeIn 2s 1 3s both;
}

#guest {
  display:flex;
  justify-content: center;
  align-items: center;
  padding: 75px 0px;
  animation: fadeIn 2s 1 3s both;
}

.optionScreenButton {
  border-radius: 30px;
  width: 350px;
  background-color: #ff3e3b;
  border: none;
  padding: 35px 35px;
  font-size: 45px;
  text-align: center;
  list-style-type: none;
  cursor:'pointer';
}

.optionScreenButton a  {
  text-decoration: none;
  color: white;
}

.optionScreenButton:hover {
  background-color: hsl(1, 72%, 53%);
}

#typingTestButton {
  display:flex;
  justify-content: center;
  align-items: center;
  padding: 125px 0px;
}

#optionsText {
  font-size: 50px;
  font-family: Arial, Helvetica, sans-serif;
  color: white;
  text-shadow: 0px 0px 20px #000000;
  margin-top: 50px;
  padding: 0;
  text-align: center;
}

#typingTestHelpText {
  font-size: 30px;
  font-family: Arial, Helvetica, sans-serif;
  color: white;
  text-shadow: 0px 0px 20px #000000;
  margin-top: 50px;
  padding: 0;
  text-align: center;
}

#inputBar {
  text-align: center;
}

.typingTestText {
  display: inline-block;
  overflow: hidden;
  white-space: nowrap;
  position: relative;
  left: 50%;
}

.letterneutral {
  font-size: 50px;
  padding: 2px;
}

.current {
  font-size: 50px;
  padding: 2px;
  background-color: #ffd300;
}

.brand-logo {
  font-size: 50px;
  color: white;
  position: relative;
  left: 15%;
  font-weight: 750;
  text-decoration: none;
  text-shadow: 0px 0px 5px black;
}

nav {
  background: #424242;
}

.authBtn {
  position: relative;
  left: 50%;
  padding: 20px;
  text-decoration: none;
  font-size: 20px;
  color: white; 
  display: inline-block;
  border: none;
  outline: none;
  background-color: transparent;
}

.textbutton {
  border-radius: 30px;
  width: 250px;
  background-color: #ff3e3b;
  border: none;
  color: white;
  padding: 20px 20px;
  font-size: 40px;
  position: absolute;
  left: 50%;
  transform: translate(-50%, 0);
  text-align: center;
  align-items: center;
}

.textbutton:hover {
  background-color: hsl(1, 72%, 53%);
}

.authcontainer {
  width: 320px;
  height: 420px;
  background: #ffffff;
  color: #000000;
  position: absolute;
  top: 55%;
  left: 50%;
  transform: translate(-50%, -50%);
  box-sizing: border-box;
  padding: 70px 30px;
  box-shadow: 0px 0px 20px #000000;
}

.avatar {
  width: 100px;
  height: 100px;
  border-radius: 50%;
  position: absolute;
  top: -50px;
  left: calc(50% - 50px);
  box-shadow: 0px 0px 20px #000000;
}

.authText {
  margin: 0;
  padding: 0 0 5px;
  text-align: center;
}

.authbox {
  width: 100%;
  margin-bottom: 15px;
  border: none;
  border-bottom: 1px solid #000000;
  outline: none;
  height: 40px;
}

.authbutton {
  border: none;
  outline: none;
  height: 40px;
  width: 100%;
  background-color: #ff3e3b;
  border-radius: 20px;
  font-size: 20px;
  color: #ffffff;
}

.authbutton:hover {
  background-color: hsl(1, 72%, 53%);
}

.finishText {
  text-align: center;
}

.scoreContainer {
  width: 400px;
  height: 450px;
  background: #ffffff;
  color: #000000;
  position: absolute;
  top: 55%;
  left: 50%;
  transform: translate(-50%, -50%);
  box-sizing: border-box;
  padding: 0px 30px;
  box-shadow: 0px 0px 20px #000000;
}

.finalScores {
  text-align: left;
  font-weight: 400;
}

.finaloptions {
  height: 40px;
  width: 100%;
  margin-top: 35px;
  padding: 5px;
  background-color: #ff3e3b;
  border-radius: 20px;
  font-size: 20px;
  color: #ffffff;
  list-style-type: none;
  display:flex;
  justify-content: center;
  align-items: center;
}

.finaloptions a  {
  text-decoration: none;
  color: white;
}

.finaloptions:hover {
  background-color: hsl(1, 72%, 53%);
}

.assessedSpeed {
  font-size: 25px;
  font-weight: 500;
  text-align: center;
}

.statContainer {
  width: 75%;
  height: 400px;
  overflow-x: hidden;
  background-color: turquoise;
  position: absolute;
  top: 65%;
  left: 50%;
  transform: translate(-50%, -50%);
  box-sizing: border-box;
  padding: 0px 30px;
  box-shadow: 0px 0px 20px #000000;
}

.liveStats {
  text-align: center;
  font-size: 50px;
  font-weight: 400;
  position: relative;
  top: 10%
}

.timer {
  text-align: center;
  font-size: 60px;
  font-weight: 500;
  position: relative;
  top: 25%
}